/* Whole page */
body {
    margin: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #36d1dc, #5b86e5);
    min-height: 100vh;
}

/* Navbar */
.navbar {
    background: #ffffff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
}

.navbar h2 {
    color: #2563eb;
    margin: 0;
}

.nav-links {
    display: flex;
    gap: 25px;
}

.nav-links a {
    text-decoration: none;
    color: #333;
    font-weight: 500;
}

.nav-links a:hover {
    color: #2563eb;
}


/* Complaint Form Card */
.complaint-container {
    width: 420px;
    margin: 50px auto;
    background: white;
    padding: 35px;
    border-radius: 20px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}


.complaint-container h1 {
    text-align: center;
    color: #1e293b;
    margin-bottom: 30px;
}


/* Form */
.form-group {
    margin-bottom: 20px;
}


.form-group label {
    display: block;
    font-weight: 600;
    margin-bottom: 8px;
    color: #334155;
}


.form-group input,
.form-group textarea,
.form-group select {

    width: 100%;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid #cbd5e1;
    font-size: 14px;
    outline: none;
}


.form-group textarea {
    height: 120px;
    resize: none;
}


.form-group input:focus,
.form-group textarea:focus,
.form-group select:focus {
    border-color: #2563eb;
}


/* Button */
button {

    width: 100%;
    padding: 14px;
    background: #2563eb;
    color:white;
    border:none;
    border-radius: 10px;
    font-size:16px;
    cursor:pointer;
}


button:hover {
    background:#1d4ed8;
}


/* Footer */
.footer {

    text-align:center;
    background:#2563eb;
    color:white;
    padding:18px;
    margin-top:40px;
}